<div class="navbar">
    <nav>
        <div class="navbar-logo">
            <img src="img/logo/logo.png" alt="">
        </div>

        <ul class="navbar-links">
            <li class="navbar-links__item">
                <a href="/">Inicio</a>
            </li>
            <li class="navbar-links__item"><a href="/products">Productos</a></li>
            <li class="navbar-links__item"><a href="/">Sobre nosotros</a></li>
            <li class="navbar-links__item"><a href="/">Contacto</a></li>
        </ul>

        <div class="navbar-user">
            <ul class="navbar-user__user">
                {{#if notUser}}
                <li class="navbar-user__item"><a href="/login"><img src="img/icons/usuario.png" alt=""></a></li>
                {{/if}}

                {{#if user}}
                <li class="navbar-user__item navbar-user__item--login">
                    <a href="/"><img src="img/icons/usuario.png" alt=""></a>
                    <div>
                        <p>Hola {{user.first_name}}</p>
                        <a class="navbar-user__item navbar__item--logout" href="/api/users/logout">Cerrar sesión</a>
                    </div>
                </li>
                {{/if}}
            </ul>
            <div class="navbar-user__cart">
                <a href="/login"><img src="img/icons/carrito-de-compras.png" alt=""></a>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    {{#if isValid}}
    <div class="cards-products" id="cardsDiv">
        {{#each products}}
        <div class="card-product">
            <div class="card-product__img">
                <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}">
            </div>
            <div>
                <p class="card-product__title">{{this.title}} </p>
                <p class="card-product__price">${{this.price}} </p>
            </div>
            <div class="card-product__btn">
                <button><img src="img/icons/ver.png" alt="icono de ver"></button>
            </div>
        </div>
        {{/each}}
    </div>
    <div>
        {{#if hasPrevPage}}
        <a href="{{this.prevLink}}">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="{{this.nextLink}}">Siguiente</a>
        {{/if}}
    </div>
    {{else}}
    <div class="container">
        <p>No hay páginas para mostrar</p>
    </div>
    {{/if}}
</div>