<div class="navbar">
    <nav>
        <div class="navbar-logo">
            <img src="img/logo/logo.png" alt="">
        </div>
        <div class="navbar-search">
            <form class="searchbar">
                <input type="text">
                <button><img src="img/icons/lupa.png" alt=""></button>
            </form>
            <ul>
                <li class="navbar__item"><a href="/">Inicio</a></li>
                <li class="navbar__item"><a href="/products">Productos</a></li>
                <li class="navbar__item"><a href="/">Sobre nosotros</a></li>
                <li class="navbar__item"><a href="/">Contacto</a></li>
            </ul>
        </div>

        <div class="navbar-user">
            <div class="navbar-user__cart">
                <a href="/login"><img src="img/icons/carrito-de-compras.png" alt=""></a>
            </div>
            <ul>
                {{#if notUser}}
                <li class="navbar__item"><a href="/login">Iniciar Sesión</a></li>
                {{/if}}

                {{#if user}}
                <li class="navbar__item">
                    <p>Hola {{user.first_name}}</p>
                    <p class="navbar__item navbar__item-logout"><a href="/logout">Cerrar sesión</a></p>
                </li>
                {{/if}}

            </ul>
        </div>
    </nav>
</div>

<div class="container">
    {{#if isValid}}
    <div class="cards-products" id="cardsDiv">
        {{#each products}}
        <div class="card-product">
            <div class="card-product__img">
                <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}">
            </div>
            <div>
                <p class="card-product__title">{{this.title}} </p>
                <p class="card-product__price">${{this.price}} </p>
            </div>
            <div class="card-product__btn">
                <button><img src="img/icons/ver.png" alt="icono de ver"></button>
            </div>
        </div>
        {{/each}}
    </div>
    <div>
        {{#if hasPrevPage}}
        <a href="{{this.prevLink}}">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="{{this.nextLink}}">Siguiente</a>
        {{/if}}
    </div>
    {{else}}
    <div class="container">
        <p>No hay páginas para mostrar</p>
    </div>
    {{/if}}
</div>