<div class="real-time__container">
    <div class="form">
        <p class="form__title">Añadir un nuevo producto</p>
        <form action="/realtimeproducts" method="post" enctype="multipart/form-data" id="newProductForm">
            <label for="title">Title</label>
            <input type="text" name="title">

            <label for="description">Description</label>
            <input type="text" name="description">

            <label for="price">Price</label>
            <input type="number" name="price">

            <label for="status">Status</label>
            <select id="status" name="status">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>

            <label for="code">Code</label>
            <input type="text" name="code">

            <label for="stock">Stock</label>
            <input type="number" name="stock">

            <label for="category">Category</label>
            <select id="category" name="category" required>
                <option value="plantas">Plantas</option>
                <option value="macetas">Macetas</option>
            </select>

            <label for="thumbnails">Thumbnails</label>
            <input type="file" name="thumbnails" multiple required>

            <button class="form__btn">Añadir producto</button>
        </form>
    </div>
    <div class="container">
        {{#if isValid}}
    <div class="cards-products" id="cardsDiv">
        {{#each products}}
        <div class="card-product" id="{{this._id}}">
            <picture class="card-product__img">
                <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}">
            </picture>
            <div>
                <p class="card-product__title">{{this.title}} </p>
                <p class="card-product__price">${{this.price}} </p>
            </div>
            <div class="card-product__btn">
                <button><img src="img/icons/ver.png" alt="icono de ver"></button>
            </div>
            <div class="card-product__btn card-product__btn--delete">
                <button class="delete__btn"><img src="img/icons/borrar.png" alt="icono de borrar"></button>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="container">
        <p>No hay páginas para mostrar</p>
    </div>
    {{/if}}

     <div class="container">
        {{#if hasPrevPage}}
        <a href="{{this.prevLink}}">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="{{this.nextLink}}">Siguiente</a>
        {{/if}}
    </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>